trains:
  nodeSelector: "app: trains"
  namespace: trains
  image:
    repository: allegroai/trains-server
    tag: 0.16.1-320
apiserver:
  elasticServiceName: elasticsearch-service
  elasticServicePort: "9200"
  mongoServiceName: mongo-service
  mongoServicePort: "27017"
  redisServiceName: redis
  redisServicePort: "6379"
  mongoPrepopulateEnabled: "true"
  mongoPrepopulateZipFile: "/opt/trains/db-pre-populate/export.zip"
  deploymentType: "Helm"
  configDir: /opt/trains/config
  volumeMounts:
    - mountPath: /var/log/trains
      name: apiserver-hostpath0
    - mountPath: /opt/trains/config
      name: apiserver-hostpath1
  volumes:
    - name: apiserver-hostpath0
      persistentVolumeClaim:
        claimName: apiserver-pv-claim0
    - name: apiserver-hostpath1
      persistentVolumeClaim:
        claimName: apiserver-pv-claim1
  resources:
    requests:
        memory: "150M"
        cpu: "200m"
    limits:
        memory: "150M"
        cpu: "400m"
elasticsearch:
  esJavaOpts: "-Xms2g -Xmx2g"
  esMemoryRequest: "4G"
  esMemoryLimit: "4.6G"
agent:
  numberOfTrainsAgents: 0
  nvidiaGpusPerAgent: 1
  defaultBaseDocker: "nvidia/cuda"
  agentVersion: ""
  trainsApiHost: "https://api.trains.mydomain.com"
  trainsWebHost: "https://app.trains.mydomain.com"
  trainsFilesHost: "https://files.trains.mydomain.com"
  trainsGitUser: null
  trainsGitPassword: null
  trainsAccessKey: null
  trainsSecretKey: null
  awsAccessKeyId: null
  awsSecretAccessKey: null
  awsDefaultRegion: null
  azureStorageAccount: null
  azureStorageKey: null
agentservices:
  trainsHostIp: null
  defaultBaseDocker: "ubuntu:18.04"
  agentVersion: ""
  trainsApiHost: "http://apiserver-service:8008"
  trainsWebHost: null
  trainsFilesHost: null
  trainsGitUser: null
  trainsGitPassword: null
  trainsAccessKey: null
  trainsSecretKey: null
  awsAccessKeyId: null
  awsSecretAccessKey: null
  awsDefaultRegion: null
  azureStorageAccount: null
  azureStorageKey: null
  googleCredentials: null
  trainsWorkerId: "trains-services"
  trainsDockerHostMount: "/opt/trains/agent:/root/.trains"
storage:
  use_nfs: false
  nfs:
    base_path: /data/trains
    server: null
  capacities:
    elasticsearch: 50Gi
    mongo0: 50Gi
    mongo1: 1Gi
    redis: 5Gi
    fileserver0: 5Gi
    fileserver1: 50Gi
    apiserver0: 10Gi
    apiserver1: 1Gi
services:
  webserver:
    nodePort: 30080
    name: webserver-service
  apiserver:
    nodePort: 30008
    name: apiserver-service
  fileserver:
    nodePort: 30081
    name: fileserver-service
  mongo:
    name: mongo-service
  elasticsearch:
    name: elasticsearch-service
  redis:
    name: redis
  agentservices:
    name: agentservices-service
ingress:
    enabled: false
    name: trains-server-ingress
    annotations: {}
    host: ""
    tls:
        secretName: ""
use_secrets_flexvolume: false
